html {
    font-size: var(--root-font-size);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;

    background: var(--main-background-color);
}

* {
    box-sizing: border-box;
}

p, a {
    margin: 0;

    line-height: 1.55rem;

    color: var(--primary-text-color);
}


pre {
    background: var(--secondary-background-color) !important;

    padding: 1.65rem !important;
    margin: 1rem 0 2rem 0;
}

code, span {
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif !important;
}

code {
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    word-spacing: 5px;

    color: var(--code-accent-color);

    background: var(--secondary-background-color) !important;
    
    padding: 0.25rem;
}

span {
    color: var(--primary-text-color);
}

p {
    color: var(--primary-text-color);
    
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    color: var(--primary-text-color);

    font-weight: 600;

    margin: 0 0 1rem 0;
}

h1 {
    font-size: 2.15rem;
}

h2 {
    font-size: 1.8rem;

    margin-top: 3rem;
}

h3 {
    font-size: 1.45rem;

    margin-top: 2rem;
}

li {
    color: var(--primary-text-color);
}

blockquote {
    margin: 2rem 0;
    padding: 0.35rem 0 0.35rem 0.5rem;

    font-style: italic;

    border-left: solid 2px var(--divider-color-darker);

    color: var(--primary-text-color);
}

.blockquote-alert {
    margin: 2rem 0;
    padding: 0.35rem 0 0.35rem 0.5rem;

    font-style: italic;

    border-left: solid 2px var(--alert-blockquote-border);

    color: var(--primary-text-color);

    background: var(--alert-blockquote-background);
}

.blockquote-warning {
    margin: 2rem 0;
    padding: 0.35rem 0 0.35rem 0.5rem;

    font-style: italic;

    border-left: solid 2px var(--warning-blockquote-border);

    color: var(--primary-text-color);

    background: var(--warning-blockquote-background);
}