/* Sidebar styling */
.sidebar {
    width: 300px;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background: var(--main-background-color);

    border-right: solid 2px var(--divider-color);

    padding: 12px 16px;

    display: flex;
    flex-direction: column;
}

.sidebarLogoLink {
    width: 100%;

    margin: 0 0 1rem 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebarLogo {
    width: 45%;
}

.sidebarSection {
    display: flex;
    flex-direction: column;

    margin: 0.6rem 0 0 0;
}

.sidebarSectionHeaderContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    cursor: pointer;
}

.sidebarSectionHeader {
    font-size: 1.05rem;
    font-weight: 600;

    color: var(--primary-text-color);

    word-wrap: break-word;

    max-width: 80%;

    margin: 0 auto 0 0;
}

.sidebarSectionHeaderChevron {
    color: var(--primary-text-color);
}

.sidebarSectionInner {
    display: flex;
    flex-direction: column;

    padding: 5px 0 0 12px;
}

.sidebarLink {
    font-size: 1rem;
    font-weight: 400;

    color: var(--secondary-text-color);

    text-decoration: none;

    margin: 0.6rem 0;

    display: flex;
    align-items: center;
}

.sidebarLinkActive {
    font-size: 1rem;
    font-weight: 600;

    color: var(--accent-color);

    text-decoration: none;

    margin: 0.6rem 0;

    display: flex;
    align-items: center;
}


@media only screen and (min-width: 768px) {
    .sidebar {
        transform: scaleX(1) !important;
    }
    
    .topBarMobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .sidebar {
        width: 250px;

        transition: ease-in-out 0.12s;
        transform-origin: left;

        padding-top: 3rem;

        transform: scaleX(0);
    }

    .topBarMobile {
        position: fixed;
        top: 0;
    
        width: 100%;
        max-height: 40px;
        
        background: var(--main-background-color);

        display: flex;
    }

    .topBarMobileInner {
        display: flex;
        
        padding: 7px;
        
        width: 250px;
        max-height: 40px;

        border-right: solid 2px var(--divider-color);

        transition: width ease-in-out 0.12s;
    }

    .menuBarIcon {
        color: var(--accent-color);

        transition: ease-in-out 0.12s;

        margin-left: 0;
    }
}